body {
    background: #e5e7ff; 
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 40px auto;
    padding: 20px 0;
    text-align: center;
}

.box {
    background: white;
    width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
}

.box h3 {
    font-weight: normal;
    color: #555;
}

.box h1 {
    margin-top: 10px;
    font-size: 32px;
    color: black;
}
